<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990724550864-68qclbma3see9qfqpb68blql15o0d24v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990724550864-68qclbma3see9qfqpb68blql15o0d24v</string>
	<key>API_KEY</key>
	<string>AIzaSyC7reg008mAH0-AJ_7XfahpkVx6tNZ9LBk</string>
	<key>GCM_SENDER_ID</key>
	<string>990724550864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mkTvApp</string>
	<key>PROJECT_ID</key>
	<string>mahibere-kidusan-tv-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mahibere-kidusan-tv-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990724550864:ios:ecefda8ca3e0e1042c6ed5</string>
	<key>DATABASE_URL</key>
	<string>https://mahibere-kidusan-tv-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>